In [65]:
import pandas as pd

In [66]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1677-F658

 Directory of C:\Users\Nouman Ahmad\Desktop\spam_classifaction\spam_email_classification

12/07/2020  03:17 PM    <DIR>          .
12/07/2020  03:17 PM    <DIR>          ..
12/07/2020  03:03 PM    <DIR>          .ipynb_checkpoints
20/09/2019  07:54 AM           503,663 spam.csv
12/07/2020  03:17 PM            12,577 Untitled.ipynb
               2 File(s)        516,240 bytes
               3 Dir(s)   9,757,102,080 bytes free

In [69]:
df=pd.read_csv("spam.csv",encoding='ISO-8859-1')

In [70]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [71]:
df['spam']=df['v1'].apply(lambda x: 1 if x=='spam' else 0)

In [72]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,spam
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,0
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,1
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,0

In [73]:
colums=['Unnamed: 2','Unnamed: 3','Unnamed: 4']
df.drop(colums,inplace=True,axis=1)

In [74]:
df.head()

     v1                                                 v2  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
x_train,x_test,y_train,y_test=train_test_split(df.v2,df.spam,test_size=0.2)

In [78]:
from sklearn.feature_extraction.text import CountVectorizer

In [79]:
cv=CountVectorizer()
x_train_count=cv.fit_transform(x_train.values)

In [80]:
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [81]:
from sklearn.naive_bayes import MultinomialNB

In [82]:
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [83]:
x_test_count=cv.transform(x_test)

In [84]:
model.score(x_test_count,y_test)

0.9910313901345291

In [85]:
emails=['Hello Faisal,we are looking for Machine Learing Intern','Discount upto 30% on First Purchase']
email_count=cv.transform(emails)
model.predict(email_count)

array([0, 1], dtype=int64)

In [ ]:
Thanks for wathcing i will upload dataset and code in my github repositary